# Statistical Analysis of Reddit thread

### Objective: Initial Analysis of the Submission and Comments of Reddit Thread

### Importing required packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

### Reading csv files and assigning column names

In [4]:
af = pd.read_csv('C:/Users/AshwinAmbal/Desktop/Intern_Final/IPython Data Exploration Codes/Suicide Method Categorization/Resources/User_Data.csv',sep='|', encoding='utf-8',header=0)
pf = pd.read_csv('C:/Users/AshwinAmbal/Desktop/Intern_Final/IPython Data Exploration Codes/Suicide Method Categorization/Resources/Submission_Details.csv',sep='|', encoding='utf-8',header=0)
df = pd.read_csv('C:/Users/AshwinAmbal/Desktop/Intern_Final/IPython Data Exploration Codes/Suicide Method Categorization/Resources/All_Comment_Details.csv',sep='|', encoding='utf-8',header=0)
rf = pd.read_csv('C:/Users/AshwinAmbal/Desktop/Intern_Final/IPython Data Exploration Codes/Suicide Method Categorization/Resources/Comment_Relation.csv',sep='|', encoding='utf-8',header=0)
af.columns=['userid','username','com_upvote','sub_upvote','date_created']
pf.columns=['sub_id','title','author_name','created','url','perma','gilded','downs','upvotes','upvote_ratio','no_comments','score','over18','is_self']
df.columns=['com_id','author','content','dated','link_id','score','likes','distinguished','down','depth','controversy','archived','gilded','flag','removal_reason','edited','upvotes']
rf.columns=['comdad_id','comson_id']

### Submission Details

In [5]:
pf['created'] = pd.to_datetime(pf['created'],unit='s')
q=pf.loc[:,['author_name','created','gilded','upvotes','downs','upvote_ratio','score','no_comments']]
q

,author_name,created,gilded,upvotes,downs,upvote_ratio,score,no_comments
0,asubaba,2016-04-11 01:46:37,1,17460,0,0.8,17460,7276

### Comment Details

In [6]:
df['dated'] = pd.to_datetime(df['dated'],unit='s')
df['edited'] = pd.to_datetime(df['edited'],unit='s')
df=df.rename(columns = {'flag':'Parent?'})
b=df.loc[:,['com_id','author','content','dated','upvotes','score','depth','distinguished','removal_reason','gilded','edited','Parent?']]
b

,com_id,author,content,dated,upvotes,score,depth,distinguished,removal_reason,gilded,edited,Parent?
0,d1y6p54,ImNotJesus,"Hey everyone,[BK][BK]This is just a friendly r...",2016-04-11 06:29:09,1,1,0,moderator,NaN,1,2016-04-11 06:31:19,True
1,d1y6cmr,tunafister,"I will say, having 'beat'"" addiction to opiate...",2016-04-11 06:11:54,4,5,7,NaN,NaN,0,NaT,False
2,d20emq9,RainyOcean,I think you will. You just have to keep trying...,2016-04-12 22:13:57,1,1,7,NaN,NaN,0,NaT,False
3,d1y6pvg,KIVIIIIIIIIIIIIIIIII,Easier if you are religious. That gives you a ...,2016-04-11 06:30:13,1,1,7,NaN,NaN,0,NaT,False
4,d20ee3o,RainyOcean,That was exactly my point.,2016-04-12 22:07:52,1,1,7,NaN,NaN,0,NaT,False
5,d1y5044,grouphugintheshower,I can't blame them either. It's a catch-22 som...,2016-04-11 05:11:58,3,3,7,NaN,NaN,0,NaT,False
6,d1y7bib,IngwazK,"Well that just sucks.[BK][BK]I dunno, I would ...",2016-04-11 07:02:18,1,1,7,NaN,NaN,0,NaT,False
7,d1y1xov,None,[removed],2016-04-11 03:23:00,1,1,7,NaN,NaN,0,NaT,False
8,d1y6wks,sabineastroph,I started immediately crying because I thought...,2016-04-11 06:39:55,45,47,0,NaN,NaN,0,NaT,True
9,d1y5wc9,TheEthalea,Maybe I should ask mom and dad for help if I c...,2016-04-11 05:50:42,4,4,0,NaN,NaN,0,NaT,True
10,d1y7sy6,dakuth,"You're only wrong because if you smoke a ecig,...",2016-04-11 07:30:27,1,1,8,NaN,NaN,0,NaT,False
11,d1y361f,NewsiesOnAMission,Well I had attempted to hang myself when I was...,2016-04-11 04:03:15,7460,7455,0,NaN,NaN,0,2016-04-11 20:50:28,True
12,d1y601v,lostgirl19,"Bit late, but I tried hanging myself in my clo...",2016-04-11 05:55:30,5,5,0,NaN,NaN,0,NaT,True
13,d1y6y5a,Sleepitawaythrowaway,Just never really saw the point of living as a...,2016-04-11 06:42:11,5,5,0,NaN,NaN,0,2016-04-11 06:47:23,True
14,d1yadsc,Belazriel,“I instantly realized that everything in my li...,2016-04-11 10:20:41,5,4,0,NaN,NaN,0,NaT,True
15,d1ydkq8,RamboWannabe,"'Fuck, This is embarrassing'""[BK][BK]I tried t...",2016-04-11 12:55:57,5,4,0,NaN,NaN,0,NaT,True
16,d1y5bqg,Juju458,"It was less of a conscious attempt, but once I...",2016-04-11 05:25:41,3,4,0,NaN,NaN,0,NaT,True
17,d20z1z5,zzeeaa,"Yay, that's really good to hear! I'm also happ...",2016-04-13 10:19:32,1,1,5,NaN,NaN,0,NaT,False
18,d1y5lwr,rebelman233,No throwaway please excuse Grammer and format ...,2016-04-11 05:37:46,701,709,0,NaN,NaN,0,2016-04-12 00:24:04,True
19,d1y9jqw,itsbeenanhonour,Immense guilt.[BK][BK]I was 13. I''d been rape...,2016-04-11 09:24:43,51,55,0,NaN,NaN,0,NaT,True
20,d1y7wnr,RoninVX,"'This is either hell, or the worst hangover ev...",2016-04-11 07:36:36,4,4,0,NaN,NaN,0,NaT,True
21,d1yckoc,MorroWtje,The service you get will depend on a lot of th...,2016-04-11 12:16:17,6,3,5,NaN,NaN,0,NaT,False
22,d1y9iyo,Egon084,"After the click of the pistol, I sat there in ...",2016-04-11 09:23:17,12,13,0,NaN,NaN,0,NaT,True
23,d1y4m38,None,[removed],2016-04-11 04:56:06,430,427,0,NaN,NaN,0,NaT,True
24,d1ye6dv,jwoozel,I''ve been suicidal since I was little tiny. C...,2016-04-11 13:16:56,5,4,0,NaN,NaN,0,NaT,True
25,d1yhusm,SanityDeprived57,'I guess if I can''t do it suddenly I''ll just...,2016-04-11 14:59:47,4,4,0,NaN,NaN,0,NaT,True
26,d1yk1ui,Architeal,I had just been told via public Facebook post ...,2016-04-11 15:52:28,4,4,0,NaN,NaN,0,NaT,True
27,d1y6k0h,mazman1,I first read this as survivors of Reddit...,2016-04-11 06:22:01,3,3,0,NaN,NaN,0,NaT,True
28,d1zcd67,fattypigfatty,That's great to hear that you are doing better...,2016-04-12 02:50:09,2,2,5,NaN,NaN,0,NaT,False
29,d1y553m,Guaraninja,I''m a diabetic. I can remember deciding to us...,2016-04-11 05:17:41,1459,1460,0,NaN,NaN,1,2016-04-11 19:39:17,True
...,...,...,...,...,...,...,...,...,...,...,...,...
6199,d1ylobw,blue-eyed-badger,I will look into that! I love books that aim t...,2016-04-11 16:28:48,1,1,9,NaN,NaN,0,NaT,False
6200,d1y5kki,philds391,"Tried that, never worked. I'm on SAMe now sinc...",2016-04-11 05:36:10,2,2,9,NaN,NaN,0,NaT,False
6201,d1ygz69,rnykal,I agree. In the absence of powerful men holdin...,2016-04-11 14:37:56,3,3,1,NaN,NaN,0,NaT,False
6202,d1y7ms8,None,[removed],2016-04-11 07:20:21,3,3,9,NaN,NaN,0,NaT,False
6203,d1y7k03,None,[removed],2016-04-11 07:15:49,1,1,9,NaN,NaN,0,NaT,False
6204,d1yaetg,Felaa,"Firstly, it's paraphrased; second, fair use; t...",2016-04-11 10:22:32,1,1,9,NaN,NaN,0,NaT,False
6205,d1y9wzt,None,[removed],2016-04-11 09:49:50,2,2,9,NaN,NaN,0,NaT,False
6206,d1y7fkb,None,[removed],2016-04-11 07:08:40,4,4,9,NaN,NaN,0,NaT,False
6207,d1yoqh4,SwiftDickington,The man has been through some rough stuff in h...,2016-04-11 17:35:44,4,5,9,NaN,NaN,0,NaT,False
6208,d1y3fqu,None,[removed],2016-04-11 04:12:34,18,18,9,NaN,NaN,0,NaT,False
6209,d1znoxe,MagicalWeirdo,She was mad that my brothers and I weren't cle...,2016-04-12 11:25:37,1,1,9,NaN,NaN,0,NaT,False
6210,d1y7163,None,[removed],2016-04-11 06:46:42,14,13,9,NaN,NaN,0,NaT,False
6211,d1ygouy,Cylon_Toast,I do not have any friends.,2016-04-11 14:30:39,1,1,3,NaN,NaN,0,NaT,False
6212,d74rfmh,mrs-syndicate,I think these are deleted automatically,2016-09-01 00:20:50,1,1,3,NaN,NaN,0,NaT,False
6213,d1ya2bc,None,"Don't send your strawmen at me, they are too e...",2016-04-11 09:59:42,0,0,4,NaN,NaN,0,NaT,False
6214,d22q4b3,kats_on_ice,"I haven't made any excuses at all, not trying ...",2016-04-14 16:10:55,1,1,3,NaN,NaN,0,NaT,False
6215,d1y9hkc,None,Wowww you're a racist. Please don't talk to me...,2016-04-11 09:20:34,1,1,3,NaN,NaN,0,NaT,False
6216,d1yaku6,Sanotsuto,"I smoked for four years straight, heavily. I q...",2016-04-11 10:32:56,0,0,4,NaN,NaN,0,NaT,False
6217,d1y4ofb,MagicalWeirdo,Oops. My bad....,2016-04-11 04:58:44,3,3,2,NaN,NaN,0,NaT,False
6218,d1ywwr7,YummyMeatballs,"Well hopefully, though as I said - I know that...",2016-04-11 20:31:37,1,1,3,NaN,NaN,0,NaT,False
6219,d2c925v,Saith_Cassus,"Well, there are some in between resources out ...",2016-04-21 21:34:26,1,1,4,NaN,NaN,0,NaT,False
6220,d1ylbcu,Maebenot,You're doing great work! You should feel proud...,2016-04-11 16:20:53,2,2,4,NaN,NaN,0,NaT,False
6221,d1yptms,Cylon_Toast,"I am also a woman, technically. XD Biologicall...",2016-04-11 17:59:02,1,1,3,NaN,NaN,0,NaT,False
6222,d1ziiuq,None,You show your ignorance again. I provided a co...,2016-04-12 06:21:56,0,0,7,NaN,NaN,0,NaT,False
6223,d23068u,NyupDeddyXMTN,Calm down now,2016-04-14 19:38:26,0,0,9,NaN,NaN,0,NaT,False
6224,d1ynfw3,None,[deleted],2016-04-11 17:07:37,2,2,9,NaN,NaN,0,NaT,False
6225,d2305pc,NyupDeddyXMTN,Sensitive are we?,2016-04-14 19:38:09,0,0,7,NaN,NaN,0,NaT,False
6226,d1yml31,None,[deleted],2016-04-11 16:48:54,2,2,7,NaN,NaN,0,2016-04-11 16:53:05,False
6227,d230hti,None,"You're just not capable of a response, or mayb...",2016-04-14 19:45:01,1,1,1,NaN,NaN,0,NaT,False
6228,d1yn3ct,Maebenot,"If you haven't already, please read /r/raisedb...",2016-04-11 16:59:56,1,1,8,NaN,NaN,0,NaT,False

### Number of Comments Extracted from reddit thread

In [7]:
df=df.rename(columns = {'Parent?':'flag'})
d=len(df.com_id)
print("Total Number of Comments Scraped: ")
d

Total Number of Comments Scraped:

6229

### Number of Users commented in reddit thread

In [8]:
q=len(af.userid)
print("Total Number of Users: ")
q

Total Number of Users:

3579

### Average number of Comments / User

In [9]:
print("Avg Number of Comments/User: ")
d/q

Avg Number of Comments/User:

1.7404302877898854

### Number of comments per user:

In [12]:
df1=df['author'].groupby(df['author']).count()
df1.head()

author
-H-E-R-M-E-S-         1
-Sobchak-Security-    1
-Still-Waters-        1
-Throatcoat-          1
-UserNameTaken        3
Name: author, dtype: int64

### Total Number of Upvotes for a user:

In [13]:
r = df['upvotes'].groupby(df['author']).sum()
r.head()

author
-H-E-R-M-E-S-          1
-Sobchak-Security-     3
-Still-Waters-         1
-Throatcoat-           5
-UserNameTaken        19
Name: upvotes, dtype: int64

### Score of each Comment of User

In [14]:
groupby_regiment = df['score'].groupby([df['author'],df['com_id']])
q=groupby_regiment.max()
q.head()

author              com_id
-H-E-R-M-E-S-       d1y7m70    1
-Sobchak-Security-  d1y9yab    3
-Still-Waters-      d1y5k4r    1
-Throatcoat-        d1y72ei    4
-UserNameTaken      d1yd17w    7
Name: score, dtype: int64

### Total number of edited comments

In [15]:
print("Number of edited comments: ",len(df['edited'].value_counts()))

Number of edited comments:  289

### Duration between original comment and last edit of each user

In [16]:
df1=pd.concat([df['author'], df['edited'].sub(df['dated'])], axis=1)
df1.columns=['author','Duration']
df1 = df1[df1.Duration.notnull()]
df1.nsmallest(5, 'Duration')

          author Duration
0     ImNotJesus 00:02:10
760       Balind 00:03:00
618         None 00:03:03
973  FieryWolf29 00:03:04
942  Imjusta_pug 00:03:05

In [17]:
sort=df.sort_values('score',ascending=False,axis=0)[:25]
sort.loc[:,['author','content','score']][:5]

,author,content,score
2410,arcadebee,"'Fuck I''m still here'"" [BK][BK]&nbsp;[BK][BK]...",18008
11,NewsiesOnAMission,Well I had attempted to hang myself when I was...,7455
2386,sma5309,"'Fuck why did they have to call my parents.'"" ...",6910
2393,beyond-my-years,"Fuck, I have to get ready for school.",6337
34,MandaEskimo,I decided to hang myself with an extension cor...,6170

In [18]:
df.groupby('author').score.agg(['min', 'max'])[:10]

                    min  max
author
-H-E-R-M-E-S-         1    1
-Sobchak-Security-    3    3
-Still-Waters-        1    1
-Throatcoat-          4    4
-UserNameTaken        5    7
-hx                   4   95
-missing_links-       1    1
-nautical-            1    1
-tar0t-               2    2
-wwwpastacom          1    1

### General Statistics

In [20]:
df.describe()

,score,likes,down,depth,controversy,gilded,removal_reason,upvotes
count,6229.000000,0.0,6229.0,6229.000000,6229.000000,6229.000000,0.0,6229.000000
mean,33.290576,NaN,0.0,2.153957,0.012843,0.007224,NaN,33.286242
std,347.723867,NaN,0.0,2.195830,0.112607,0.336849,NaN,347.739775
min,-217.000000,NaN,0.0,0.000000,0.000000,0.000000,NaN,-217.000000
25%,1.000000,NaN,0.0,0.000000,0.000000,0.000000,NaN,1.000000
50%,2.000000,NaN,0.0,2.000000,0.000000,0.000000,NaN,2.000000
75%,3.000000,NaN,0.0,3.000000,0.000000,0.000000,NaN,3.000000
max,18008.000000,NaN,0.0,9.000000,1.000000,26.000000,NaN,18016.000000